.chat__wrapper{
    padding: 0px 40px;
}

.chat__bubble{
    width: 240px;
    height: auto;
    display: block;
    position: relative;
    box-shadow: 1px 1px 1px #aaa;
    border-radius: 6px;
    margin: 0 0 25px;
}

.chat__txt{
    padding: 8px 55px 8px 14px;
}

.chat__name{
    font-weight: 600;
    font-size: 12px;
    margin: 0 0 4px;
}

.chat__message{
    font-size: 12px;
    margin: 0;
    color: #2b2b2b;
}

.chat__timestamp{
    font-size: 11px;
    position: absolute;
    bottom: 8px;
    right: 10px;
    text-transform: uppercase;
    color: #999;
}

.chat__alt{
    background-color: #f5f5f5;
}

.chat__alt > .chat__txt > .chat__name{
    color: #3498db;
}

.chat__alt:before{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 4px solid #f5f5f5;
  border-top: 12px solid #f5f5f5;
  border-bottom: 8px solid transparent;
  left: -8px;
  top: 0px;
}

.chat__me{
    margin-left: auto;
    background-color: #dcf8c6;

}

.chat__me > .chat__txt > .chat__name{
    display: none;
}

.chat__me:before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    right: -8px;
    top: 0px;
    
  }

